@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&display=swap');

:root {
    /* Variables */
    --font-main: 'Assistant', sans-serif;
    --font-header: 'Cinzel', sans-serif;
    --font-quote: 'Great Vibes', sans-serif;

    --color-main: #B5B392;
    --color-secondary: #404E4F;
    --color-background: #f2f3ef;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

main {
    background-color: var(--color-background);
}

/* ##########################
            General
############################*/
h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    margin: 1.5em 0 0.5em 0;
}


p {
    margin: 0;
    margin-bottom: 1em;
}

a {
    color: #01496F;
}

ul {
    list-style-type: none;
    padding: 0;
}

.secondary-bg-color {
    background-color: var(--color-main)
}


/* ##########################
        Header Styling
############################*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

header .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-text h1 {
    font-size: 2.4rem;
    font-family: var(--font-header);
    font-weight: 800;
    animation-name: ajah-color-transition;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes ajah-color-transition {
    0% { color: #1D3354; }
    17% { color: #214F01; }
    34% { color: #F7EF81; }
    51% { color: #8E0707; }
    68% { color: #FFFFFF; }
    85% { color: #2a3233; }
    100% { color: #4A442D; }
}

.header-text p {
    font-size: 1.2rem;
    font-family: var(--font-quote);
}

#img-div {
    margin: 0em 0em 1.5em 0em;
}

#img-div, #image {
    width: 25vw;
    min-width: 15em;
    max-width: 20em;
}

#image {
    display: block;
}

#img-caption {
    text-align: center;
    font-size: 0.75rem;
    display: none;
}

#img-div:hover #img-caption {
    display: block;
}


/* ##########################
        Books Styling
############################*/

.transition {
    text-align: center;
    padding: 0.4em 0;
    background-color: var(--color-secondary);
}
.transition h2 {
    margin: 0;
}

.book {
    display: grid;
    justify-items: center;
    grid-template-areas: 'book-title' 'book-cover' 'book-info' 'book-synopsis';
}

.book h3 {
    grid-area: book-title;
}

.book .book-info {
    grid-area: book-info;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.book .book-synopsis {
    grid-area: book-synopsis;
    margin: 0 1em;
    text-align: justify;
}

.book img {
    width: 50vw;
    min-width: 10em;
    max-width: 15em;
    grid-area: book-cover;
}

/* ##########################
        Authors Styling
############################*/

#robert-jordan, #brandon-sanderson {
    display: grid;
    grid-template-areas: 'author-image' 'author-info' 'author-bio';
    justify-items: center;
    row-gap: 1em;
}

.authors .author-image {
    width: 70vw;
    min-width: 10em;
    max-width: 20em;
    grid-area: author-image;
    margin-top: 2.5em;
}

.authors .author-info {
    grid-area: author-info;
}

.authors .author-bio {
    grid-area: author-bio;
    margin: 0 1em;
    text-align: justify;
}

.authors dl {
    margin: 0;
    padding: 0;
    text-align: center;
}

.authors dt {
    font-weight: 700;
    text-decoration: underline;
    display: block;
    margin: 0;
}

.authors dd {
    display: block;
    margin: 0;
    margin-bottom: 0.5em;
}

/* ##########################
        Footer Styling
############################*/

footer {
    background-color: var(--color-secondary);
    padding: 1em 0;
}

footer h2 {
    font-size: 1rem;
    margin: 0 1em;
    text-align: center;
}

footer a {
    color: #8DC9E7;
}

/* ##########################
        Media Queries
############################*/

@media only screen and (min-width: 600px) {

    /* Layout changes for authors section */
    #robert-jordan, #brandon-sanderson {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'author-image author-info' 'author-bio author-bio';
        margin: 2em 1em 0em 1em;
    }

    .authors .author-image {
        margin: 0;
        margin-left: 1em;
    }

    .authors dl {
        text-align: left;
        justify-self: left;
        margin-left: 1em;
    }

    /* Layout changes for header */
    header .header-text {
        width: 90vw;
    }

}

@media only screen and (min-width: 1000px) {
    /* Layout changes for authors section */
    .authors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'author-jordan author-sanderson';
    }

    #robert-jordan {
        grid-area: author-jordan;
    }
    
    #brandon-sanderson {
        grid-area: author-sanderson;
    }


    /* Layout changes for books section */
    .book {
        display: inline-block;
    }

    .book h3 {
        margin-top: 0;
    }

    .book img {
        float: left;
        margin: 0em 1em 2em 1em;
    }

    .book .book-info {
        display: inline;
        text-align: left;
    }    

    /* Layout changes for header */
    header .header-text {
        width: 80vw;
    }
}

@media only screen and (min-width: 1250px) {
    /* Layout changes for authors section */
    .authors .author-image {
        max-width: 25em;
    }

    /* Layout changes for books section */
    .book-list {
        display: flex;
        flex-wrap: wrap;
    }

    .book {
        width: 50%;
    }

    /* Layout changes for header */
    header {
        flex-direction: row;
    }

    header .header-text {
        width: 50vw;
    }

    .header-text h1 {
        font-size: 3rem;
    }
}

